// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
/*White Panel */
.white-panel {
  text-align: center;
  background: #ffffff;
  color: #ccd1d9; }

.white-panel p {
  margin-top: 5px;
  font-weight: 700;
  margin-left: 15px; }

.white-panel .white-header {
  background: #f4f4f4;
  padding: 3px;
  margin-bottom: 15px;
  color: #c6c6c6; }

.white-panel .small {
  font-size: 10px;
  color: #ccd1d9; }

.white-panel i {
  color: #68dff0;
  padding-right: 4px;
  font-size: 14px; }
