/*--sidebar toggle---*/
.sidebar-toggle-box {
  float: left;
  padding-right: 15px;
  margin-top: 20px; }

.sidebar-toggle-box .fa-bars {
  cursor: pointer;
  display: inline-block;
  font-size: 20px; }

.sidebar-closed > #sidebar > ul {
  display: none; }

.sidebar-closed #main-content {
  margin-left: 0px; }

.sidebar-closed #sidebar {
  margin-left: -180px; }
